header {
background-image: url(2.jpg);
background-repeat: no-repeat;
height: 600px;
background-size: cover;
}
section header nav {
    margin-top: 0px;
    display: flex;float: right;
    float: right;   
/*justify-content:space-btween;*/
}
h1{
    color: white;
}
header p {
    font-size: 20px;
}
header nav a {
    font-size: 20px;
    color: white;
    border-bottom: none ;
    text-decoration: solid;
    margin-left: 20px;
    /*diplay: flex; */
    /*justify-content: space-between*/;
}
.A {
    color: white;
    text-align: center;
    margin-top: 150px;
}
h2{
    text-align: center;
}
.T{
    display: flex;
}
.M {
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 20px;
}
.P {
    display: flex;
}
.P .G i {
    color: dodgerblue;
    font-size: 50px;
    
}
.P{
    padding:30px 100px 30px 100;
}
.D p{
    font-size: 25px;
}
h5{
    text-align: center;
    color: deepskyblue;
}
.DJ{
    width: 300px;
    height: 300px;
}
.I{
    display: flex;
}
.N{
    display: flex;
}
.Q .H i{
    color: lightskyblue;
    font-size: 50px;
}
.Q{
    text-align: center;
    padding: 10px 400px 10px 400px;
}
.djami {
    background: rgb(70, 68, 68);
    text-align: center;
    padding: 30px;
}
.djami h3 {
   color: aliceblue;
}
.djami button{
    background-color: aqua;
}
.traore{
    background: black;
    display: flex;
    padding: 15px; 
}
.traore nav .container-fluid a{
    justify-content: center;
    color: aliceblue;
   width: 300px;
}